src/*
ai_studio_code.cpp


*/.build/*
*/onnxruntime.pdb
*/onnxruntime-genai.pdb
*/vc143.pdb
*/onnx-genai.pdb
*/onnx-genai.ipdb
*/.vs/*
*/onnx-genai.tlog/*
*/onnx-genai.log
*/onnx-genai.exe.recipe
*/onnx-genai.iobj
*/main.obj
cpp/x64/onnxruntime_providers_shared.pdb
cpp/x64/onnxruntime.pdb
onnx-genai/userPreferences.*
onnx-genai/Project/DerivedData/*
onnx-genai/Data/*
onnx-genai/onnx-genai/x64/Release/onnx-genai.tlog/*
onnx-genai/x64/Release/onnx-genai.pdb
onnx-genai/onnx-genai/x64/Release/vc143.pdb
onnx-genai/onnx-genai/x64/Release/onnx-genai.log
onnx-genai/onnx-genai/x64/Release/onnx-genai.iobj
onnx-genai/onnx-genai/x64/Release/onnx-genai.exe.recipe
onnx-genai/onnx-genai/x64/Release/onnx-genai.ipdb
cpp/x64/Release/onnx-genai.pdb
cpp/onnx-genai/x64/Release/vc143.pdb
onnx-genai/onnx-genai/x64/Release/main.obj
cpp/onnx-genai/x64/Release/onnx-genai.log
cpp/onnx-genai/x64/Release/onnx-genai.ipdb
cpp/onnx-genai/x64/Release/onnx-genai.exe.recipe
cpp/onnx-genai/x64/Release/onnx-genai.iobj
cpp/onnx-genai/x64/Release/main.obj
cpp/onnx-genai/x64/Release/onnx-genai.tlog/*
eigen/eigen_lapack_static.lib
eigen/eigen_blas_static.lib
models/*
cpp/lib/windows64/eigen_blas_static.lib
cpp/lib/windows64/eigen_lapack_static.lib
onnx-genai/Resources/en.lproj/syntaxEN.json
onnx-genai/Libraries/lib4d-arm64.dylib
